<!-- <footer class="fullWidth">
  <div class="container-fluid darkGreyBackground2">
    <div class="row soundstageFooter">
      <div class="col-12">
        <span> Copyright &copy; 2019 SoundStage </span>
        <div id="footerLinks" class="floatRight">
          <span> Contact Us </span>
          <span>|</span>
          <span> Privacy Policy </span>
          <span>|</span>
          <span> Terms and Conditions </span>
        </div>
      </div>
    </div>
  </div>
</footer> -->