<div class="container-fluid">
  <div class="fullPage row row-no-margin">
    <div class="col-md-12 col-lg-7 ">
      <h1> A modern <br class="d-none d-md-block"/>music competition. </h1>
      <p>
        Submit songs to compete with other small Spotify musicians. <br />
        Vote on your favorites and help discover the next big thing!
      </p>
      <a class="btn btn-primary" href="<%= new_user_session_path %>" role="button">Get Started</a>
    </div>
    <div class="col-lg-5 d-none d-lg-block">
      <%= image_tag 'bracketExample.png', id:'splashImage'%>
    </div>
  </div>
</div>  <!-- end container -->
