<div class="container-fluid">
  <div class="fullPage">
    <div class="row">
      <div class="col-12 centered animated fadeIn slow">
        <h1 class="welcome inline"> Welcome to Off</h1><h1 class="welcome green inline">stage </h1>
      </div>
    </div>

    <div class="row steps hidden-sm animated fadeIn delay-1s">
      <div class="col-12">
        <p class="step"><span class="number1">1</span>Enter a song from an artist you think is underrecognized.</p>
        <p class="step"><span class="number2">2</span>Vote on songs twice a week in a playoff-style bracket.</p>
        <p class="step"><span class="number3">3</span>Discover new musicians and see who wins it all in the end!</p>
      </div>
    </div>

    <div class="row steps show-sm centered animated fadeIn">
      <div class="col-12">
        <p class="step"><span class="number1">1</span>Submit a song from an small artist.</p>
        <p class="step"><span class="number2">2</span>Vote on your favorites twice a week.</p>
        <p class="step"><span class="number3">3</span>Discover music and see who wins!</p>
      </div>
    </div>
    <div class="centered animated fadeIn delay-1s">
      <a class="btn btn-primary btn-splash" href="<%= user_spotify_omniauth_authorize_path %>" role="button"><i class="fa fa-spotify"></i><span id="getstarted">Sign In With Spotify</span></a>
    </div>
  </div>
</div>  <!-- end container -->
