<div class="row">
  <div class="col-xl-8 col-md-6 col-12">
  </div>
  <div class="col-xl-4 col-md-6 col-12 sidebar wrap">
    <div class="inner fullWidth centered">
      <h2 class="noBottomMargin">Welcome to RecordStage</h2>
      <p class=""> <span> RecordStage uses </span> <%= image_tag 'spotifyLogo_RGB.svg'%> <span>to authenticate users.<span></p>
      <a href="<%= user_spotify_omniauth_authorize_path %>" class="btn btn-secondary fullWidthBtn spotifyGreen">Connect to Spotify</a>
    </div>
  </div>
</div>