@font-face {
    font-family: 'BebasNeue-Bold';
    src: url(../fonts/BebasNeue-Bold.ttf);
}

@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}