@font-face {
    font-family: 'BebasNeue-Bold';
    src: font-url(fonts/BebasNeue-Bold.ttf);
}

@font-face {
    font-family: "RobotoCondensed-Regular";
    src: font-url(fonts/RobotoCondensed-Regular.ttf);
}